.logo {
  height: 50px;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  position: relative;
  max-width: 100% !important;
}

.footer a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.footer a:hover {
  text-decoration: underline !important;
}

.footer>.container {
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.hr-footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  left: 0;
  border: 0;
  border-top: 1px solid #ffffff;
}

.copy-right {
  padding-bottom: 15px;
  padding-top: 60px;
  margin: 0;
}

.social-icon {
  margin-right: 20px;
}

.social-icon img {
  height: 40px;
  margin-bottom: 20px;
}

.footer a {
  color: #ffffff;
}

.credit img {
  width: 120px;
}

@media only screen and (min-width: 1200px) {
  .footer>.container {
      max-width: 1204px !important;
      padding-left: 32px !important;
      padding-right: 32px !important;
  }
}

@media only screen and (max-width: 575px) {
  .hr-footer {
      bottom: 100px;
  }
}