@import "@edx/brand/paragon/fonts";
@import "@edx/brand/paragon/variables";
@import "@edx/paragon/scss/core/core";
@import "@edx/brand/paragon/overrides";

@import "@edx/frontend-component-footer/footer";


$gray-footer: #fcfcfc !default;

.footer {
  background-color: $gray-footer;
}

.wrapper-footer footer .wrapper-logo img {
  height: 42px;
}

.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.3);
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper-footer footer .copyright {
  text-align: left;
  margin: -2px 0 8px;
  font-size: 0.8em;
  color: #767676;
}

.wrapper-footer footer .site-nav {
  padding: 0;
  margin-bottom: 20px;
}

.wrapper-footer footer .footer-about-openedx {
  float: right;
}

// Utils


.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  position: relative;
}

.footer>.container {
  padding-top: 40px;
}

.hr-footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  left: 0;
  border: 0;
  border-top: 1px solid #ffffff;
}

.copy-right {
  padding-bottom: 15px;
  padding-top: 60px;
  margin: 0;
}

.social-icon {
  margin-right: 20px;
}

.social-icon img {
  height: 40px;
  margin-bottom: 20px;
}

.footer a {
  color: #ffffff;
}

.credit img {
  width: 120px;
}

@media only screen and (max-width: 575px) {
  .hr-footer {
      bottom: 100px;
  }
}